<div class="row">


        <button ui-sref="workschedule" type="button" class="btn btn-primary">
            Go back to Work Schedules
        </button>


    <div class="col-sm-8 col-sm-offset-2">

        <div id="form-container">

            <div class="page-header text-center">
                <h2 class="own-form-label">Add work schedule</h2>

                <!-- the links to our nested states using relative paths -->
                <!-- add the active class if the state matches our ui-sref -->
                <div id="status-buttons" class="text-center">
                    <a ui-sref-active="active" ui-sref=".rangehours"><span>1</span> Work Hours</a>
                    <a ui-sref-active="active" ui-sref=".driverandbus"><span>2</span> Driver and bus</a>
                    <a ui-sref-active="active" ui-sref=".confirmation"><span>3</span> Summary</a>
                </div>
            </div>

            <!-- use ng-submit to catch the form submission and use our Angular function -->
            <!--ng-submit="processForm()"-->
            <div id="signup-form">
                <!-- our nested state views will be injected here -->
                <div id="form-views" ui-view></div>
            </div>

        </div>

        <!--&lt;!&ndash; show our formData as it is being typed &ndash;&gt;-->
        <!--<pre>-->
            <!--{{ wsHelper }}-->
        <!--</pre>-->

    </div>
</div>


