<div ng-if="DriversCtrl.deleteCompleted==true" class="alert alert-success">
	<strong>Delete Completed</strong>
</div>
<div ng-if="DriversCtrl.deleteCompleted==false" class="alert alert-danger">
	<strong>Cannot delete this Driver</strong> Driver is in use in WorkShedules
</div>
<div class="row">
	<div class="col-md-9">
		<table class="table table-bordered table-responsive">
			<tr>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Email</th>
				<th>Phone number</th>
				<th>Status</th>
				<th>Salary</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat="driver in DriversCtrl.drivers" ng-if="driver.active">
				<td>{{driver.firstName}}</td>
				<td >{{driver.lastName}}</td>
				<td>{{driver.mail}}</td>
				<td>{{driver.phone}}</td>
				<td><button ng-if="driver.status=='Active'"
						ng-click="DriversCtrl.setStatus(driver,'Holiday')" type="button"
						class="btn btn-success">Active</button>
					<button ng-if="driver.status == 'Holiday'"
						ng-click="DriversCtrl.setStatus(driver,'Active')" type="button"
						class="btn btn-danger">Holiday</button></td>
				<td ng-if="!driver.edit">{{driver.salary}}&#8364</td>
				<td ng-if="driver.edit"><input ng-model="driver.salary"
					type="number" min="0" class="form-control"></td>
				<td>
					<button ng-if="!driver.edit"
						ng-click="DriversCtrl.setDriverToEdit(driver)" type="button"
						class="btn btn-warning">Edit</button>
					<button ng-if="driver.edit"
						ng-click="DriversCtrl.editDriver(driver)" type="button"
						class="btn btn-success">Apply</button>
					<button ng-click="DriversCtrl.deleteDriver(driver)" type="button"
						class="btn btn-danger">Delete</button>
				</td>
			</tr>
		</table>
	</div>
	<div ng-click=DriversCtrl.showAddDriverModal() class="col-md-1">
		<button type="button" class="btn btn-primary">Add driver</button>
	</div>
</div>